<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First page Of agent</title>
    </head>
    <body style="background-color: powderblue">
        {% include 'navbara.html'%}<br><br><br>
        <br>
        <div align="center">
            <h1> <u> AGENT AFTER LOGIN PAGE </u> </h1>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card" style="width: 18 rem; text-align:center">
                        <div class="card-body">
                            <h2 class="card-title">
                                <b>
                               OWNER DETAILS
                               </b>
                            </h2>
                            <p>
                            <h4>
                                <u> After Clicking On Below Buttons </u> 
                                <br><br>
                                1. You Can See Details Of Owners <br><br>
                                <a href="viewowners" class="btn btn-primary btn-lg" role="button"> <h4> VIEW OWNERS</h4> </a> 
                                <br><br>
                                2. You Can Add New Owner <br> <br>
                                <a href="addowner" class="btn btn-primary btn-lg" role="button"> <h4> ADD OWNER </h4> </a> 
                                <br><br>
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-6 mb-4">
                    <div class="card" style="width: 18 rem; text-align:center">
                        <div class="card-body">
                            <h2 class="card-title">
                                <b>
                                CUSTOMER DETAILS
                                </b>
                            </h2>
                            <h4>
                                <u> After Clicking On Below Buttons </u> 
                                <br><br>
                                1. You Can See Details Of Customers <br><br>
                                <a href="viewcust" class="btn btn-primary btn-lg" role="button"> <h4> VIEW CUSTOMERS </h4> </a> 
                                <br><br>
                                2. You Can Add New Customer <br> <br>
                                <a href="addcustomer" class="btn btn-primary btn-lg" role="button"> <h4> ADD CUSTOMER </h4> </a> 
                                <br><br>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            
            
                <div align="center">
                    <div class="col-lg-6 mb-4">
                        
                        <div class="card" style="width: 18 rem; text-align:center">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <b>
                                    CAR DETAILS
                                    </b>
                                </h2>
                                <h4>
                                    <u> After Clicking On Below Buttons </u> 
                                    <br><br>
                                    1. You Can See Details Of Cars <br><br>
                                    <a href="viewcars" class="btn btn-primary btn-lg" role="button"> <h4> VIEW CARS </h4> </a> 
                                    <br><br>
                                    2. You Can Add New Car <br> <br>
                                    <a href="addcar" class="btn btn-primary btn-lg" role="button"> <h4> ADD CAR </h4> </a> 
                                    <br><br>
                                </h4> 
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </body>
</html>