<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Car rental agency</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </head>
    <body style="background-color: powderblue">    
        <div align="center">
            <br><br><br>
            <h1 style="background-color: azure; height:50px;"> <u> AGENT LOGGED OUT SUCCESSFULLY !!!! </u> </h1>
        </div>
        
        <br>
        <div class="jumbotron">
            <div align="center">
                <h3> IF YOU WANT TO LOGIN AGAIN </h3>
                <h4> CLICK ON BELOW GIVEN BUTTON</h4><br><br>
                <a class="btn btn-primary btn-lg" href="agentlogin" role="button"><h5>  LOGIN AGAIN  </h5></a>
            </div><br><br>
        </div>
    </body>  
</html>

