<!DOCTYPE html>
<html>
  <head>
  <style>
  footer {
      background-color:black;
      text-align:center;
  }
  </style>
  </head>
  <footer>
  <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div style="color: white">
            <p> 
              <h3> 24 HOURS SERVICE </h3>
              <h3> FAST SERVICE </h3>
              <br>
              <h4> CONTACT US: 📞9865327410 </h4>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
