<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Agent Page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="agentfirstpage" class="nav-item nav-link" style="color: whitesmoke;"> <b> AGENT HOME PAGE </b></a>

            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: whitesmoke;"><b> OWNER </b></a>
              <div class="dropdown-menu">
                <a href="addowner" class="dropdown-item">ADD OWNER</a>
                <a href="viewowners" class="dropdown-item">VIEW OWNERS</a>
              </div>
            </div>
            
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: whitesmoke;"><b> CUSTOMER </b></a>
              <div class="dropdown-menu">
                <a href="addcustomer" class="dropdown-item">ADD CUSTOMER</a>
                <a href="viewcust" class="dropdown-item">VIEW CUSTOMERS</a>
                <a href="viewpayment" class="dropdown-item">CUSTOMERS RENT/PAYMENT DETAILS</a>
              </div>
            </div>

            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: whitesmoke;"><b> CAR </b></a>
              <div class="dropdown-menu">
                <a href="addcar" class="dropdown-item">ADD CAR</a>
                <a href="viewcars" class="dropdown-item">VIEW CARS</a>
              </div>
            </div>
          </div>

          <div class="navbar-nav">
            <a href="alogout" class="nav-item nav-link" style="color: whitesmoke;"> <b> LOGOUT </b></a>
        </div>
        </div>
    </nav> 
  </body>
</html>