<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMENT SUCCESSFUL</title>
</head>
<body style="background-color: powderblue;">
    <div align="center">
        {% include 'navbarc.html' %}
        <br><br><br><br>
        <h1> <u> PAYMENT DONE SUCCESSFULLY!! </u> </h1><br><br><br><br>
        <div class="jumbotron">
                <h1> <b> FOR FURTHER DETAILS </b></h1>
                <h1> <b> CONTACT US </b></h1><br><br>
            <a href="custagentdetails" class="bn btn-primary btn-lg"> <b> CLICK HERE </b> </a><br><br>
        </div>
    </div>
</body>
</html>