<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR RENTAL AGENCY</title>
</head>
<body style="background-color: powderblue;">
    {% include 'navbarc.html'%} <br><br><br>
    <div align="center">
        <h1> <u>PAYMENT DETAILS!!! </u></h1><br>
        <fieldset>
            <div class="jumbotron">
                <table border="5" cellpadding="25px" cellspacing="10px">
                    <thead style="background-color: antiquewhite; border: 10px; border-color: black;">
                        <h3>
                        <td>
                            <div align="center">
                                <b> CUST NAME </b><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <b> CAR BRAND </b><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <b> CAR TYPE </b><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <b> CUST CONTACT NO </b><br>
                            </div>
                        </td> 
                        <td>
                            <div align="center">
                                <b> RENTAL DATE </b> <br>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <b> RETURN DATE </b><br>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <b> PAYMENT MODE </b><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <b> CAR RENT  </b><br> 
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <b> TOTAL PAYMENT </b><br> 
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <b> PAY </b><br> 
                            </div>
                        </td>
                        </h3>
                    </thead>
                        </h3>
                    </thead>
                    {% for i in pplist %}
                    <tr style="border: 10px; border-color: black;">
                        <td> 
                            <div align="center">
                                <b> {{i[0]}} </b>
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[1]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[2]}} </b>
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[3]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[4]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[5]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[6]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[7]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[8]}} </b> 
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="newpagepay" class="btn btn-primary btn-lg" role="button">PAY</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table><br><br><br>
                <a href="agentfirstpage" class="bn btn-primary btn-lg" role="button"> <b>  GO TO AGENT HOME PAGE</b> </a>
            </div>
        </fieldset>
        
    </div>
</body>
</html>
