<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR RENTAL AGENCY</title>
</head>
<body style="background-color: powderblue;">
    {% include 'navbara.html'%} <br><br><br>
    <div align="center">
        <h1> <u>OWNER DETAILS!! </u></h1><br>
        <fieldset>
            <div class="jumbotron">
                <table border="5" cellpadding="25px" cellspacing="10px">
                    <thead style="background-color: antiquewhite; border: 10px; border-color: black;">
                        <h3>
                        <td>
                            <div align="center">
                                <br><b> OWNER_ID </b><br><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <br><b> OWNER_NAME </b><br><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <br><b> ADDRESS </b><br><br>
                            </div>
                        </td> 
                        <td>
                            <div align="center">
                                <br><b> OWNER_CONTACT_NO </b> <br><br>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <br><b> OWNER_MAIL </b><br><br> 
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <br><b> NO_OF_CAR_OWN </b><br><br> 
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                 <br><b> UPDATE</b><br><br>
                            </div> 
                        </td>
                        <td>
                            <div align="center">
                                <br><b> DELETE </b><br><br>
                            </div>
                        </td>
                        </h3>
                    </thead>
                    {% for i in olist %}
                    <tr style="border: 10px; border-color: black;">
                        <td> 
                            <div align="center">
                                <b> {{i[0]}} </b>
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[1]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[2]}} </b>
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[3]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[4]}} </b> 
                            </div>
                        </td>
                        <td> 
                            <div align="center">
                                <b> {{i[5]}} </b> 
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="/editowner?OWNER_ID={{i[0]}}" class="btn btn-primary btn-lg" role="button">EDIT</a>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="/deleteo?OWNER_ID={{i[0]}}" class="btn btn-primary btn-lg" role="button">DELETE</a>
                            </div>  
                        </td>

                    </tr>
                    {% endfor %}
                </table><br><br><br>
                <a href="agentfirstpage" class="bn btn-primary btn-lg" role="button"> <b>  GO TO AGENT HOME PAGE</b> </a>
            </div>
        </fieldset>
        
    </div>
</body>
</html>
